[report]=
show_missing=True
omit=
   ./venv/*
   ./UI/*
   ./API/tests/*
   */API/models/*
   */API/database/*
   */__init__.py
   ./API/__init__.py
   ./API/config.py
   ./API/resources/comment.py 
   